$black: #2d2d2d;
$greyDark: #747369;
$grey: #d3d0c8;
$greyLight: #d3d0c8;
$white: #f2f0ec;

$red: #f2777a;
$green: #99cc99;
$yellow: #ffcc66;
$blue: #6699cc;
$magenta: #cc99cc;
$cyan: #66cccc;

$blackAlt: lighten($black, 12)